<div class="panel panel-default">
  <div class="content">
    <ul class="list-unstyled">
      <h5>{{answer.title}}</h5>
      <hr>
      <p>
        {{answer.answerText}}
      </p>
      <h6 class="answer-author">posted by: {{answer.author}}</h6>
    </ul>
  </div>
</div>
