<h1>Ask A Question</h1>
<hr>
<div class="new-question-form">
  <div class="form-group">
    <label for="author">Author:</label>
    {{input value=author id="author"}}
  </div>

  <div class="form-group">
    <label for="title">Question Summary:</label>
    {{input value=title id="title"}}
  </div>

  <div class="form-group">
    <label for="questionText">Full Question:</label>
    {{input value=questionText id="questionText"}}
  </div>

  <button class="btn" {{action 'createQuestion'}}>Ask Universe</button>
</div>
