<h2 class="question-title">{{question.title}}</h2>
<h5 class="question-author">by: {{question.author}}</h5>
<hr>

{{#if question.image}}
<img src={{question.image}}>
{{/if}}

<p>
  {{question.questionText}}
</p>
