<div class="nav-back">
  <p>{{#link-to "index"}}Home{{/link-to}} | {{#link-to "new-question"}}Ask a Question{{/link-to}}</p>
</div>

<div class="header">
  <h1>Ask Jaden</h1>
  <h4>Where Jaden asks, and Will Smith answers.</h4>
</div>
<hr class=header-hr>
<br>

<div class="container">
  {{outlet}}
</div>
