<div class="container-fluid">
  <div class="navbar">
    <ul class="nav-ul">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li">{{#link-to "new-question"}}Ask a Question{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
