{{#if model}}
  {{#each model as |question|}}
    {{question-show question=question}}
  {{/each}}
{{else}}
  <h3 id="no-questions">There Are No Questions That Need Knowing Or Not Knowing, Come Again When They Need More From Us.</h3>
{{/if}}
